.contact-container{
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   margin-left: 20px;
   padding: 10px;
   position: sticky;
    
}
.contacts-container{
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    background-color: black;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px 5px white;
    position: sticky;

}
.anker{
    color: rgb(227, 26, 15);
    position: sticky;
    display: flex;
}
.contact-header{
    color: rgb(253, 255, 255);
    position: sticky;
    display: flex;
}
.links-container{
    display: flex;
    flex-direction: column;
}

    @media only screen and (max-width: 900px){
    //     .contact-container{
            
    //         flex-direction: column;
    //         width: 90%;
    //         position:sticky;
    // }
    .contacts-container{
    flex-direction: column;
            width: 100%;
            position:sticky;
        
    }
    .links-container{
          flex-direction: column;
            width: 100%;
            position:sticky;
    }
    .anker{
        flex-direction: column;
        width: 100%;
        position:sticky;
        }
       .contact-header{
        flex-direction: column;
        width: 100%;
        position:sticky;
       }
    
    }