.containers{
    border: 1px solid black;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;

}
.project{
    background: black;
    box-shadow: 1px 0px 10px 10px rgba(248, 247, 242, 0.935);
    border: 5px solid rgb(117, 216, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 600px;
    border-radius: 10px;
    position: sticky;
    animation: identifier 2s ;

}
.anker{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

@keyframes identifier {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 900px){
    .containers{
        
        flex-direction: column;
        width: 90%;
        position:sticky;
}
.project{
flex-direction: column;
        width: 100%;
        position:sticky;
}
.anker{
    width: 100%;
    position:sticky;
    }
   

}





